<form novalidate autocomplete="off" (ngSubmit)="onSubmit(data)" #taskForm="ngForm">
    <div fxLayout="column" fxLayoutAlign="center stretch">

        <!-- <mat-form-field class="example-form-field title">
            <mat-label class="title">User ID: {{data.userId}}</mat-label>
            <input matInput #input maxlength="50" type="text" name="userId" #userId="ngModel" [(ngModel)]="editUser.userId" required [class.invalid]="userId.invalid && userId.touched">
        </mat-form-field> -->

        <h1 *ngIf="data">{{data.communityName}}</h1>
        <p *ngIf="data">Community ID: {{data.communityId}}</p>

        <mat-form-field>
            <mat-label>Community Name</mat-label>
            <input matInput type="text" name="firstName" #firstName="ngModel" [(ngModel)]="data.communityName" required [class.invalid]="firstName.invalid && firstName.touched">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Community Type</mat-label>
            <mat-select class="select" name="typeName" #typeName="ngModel" [(ngModel)]="data.communityType.typeId" required [class.invalid]="typeName.invalid && typeName.touched">
                <mat-option *ngFor="let communityType of communityTypes" [value]="communityType.typeId">
                    {{communityType.typeName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Community Summary</mat-label>
            <textarea cdkTextareaAutosize matInput #input maxlength="500" type="text" name="communitySummary" #communitySummary="ngModel" [(ngModel)]="data.communitySummary" required [class.invalid]="communitySummary.invalid && communitySummary.touched"></textarea>
        </mat-form-field>

        <div class="buttons" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px">
            <button mat-flat-button color="primary" class="create-button" type="submit" [disabled]="taskForm.invalid">Edit</button>
            <button mat-button class="button1" mat-dialog-close>Cancel</button>
        </div>