a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.icon {
    font-size: 20px;
}

.div-side-menu {
    height: 100vh;
}

hr {
    width: 90%;
}

.logo {
    font-size: 20px;
    padding: 10px 0px;
    font-weight: 500;
}

.community-list-title {
    text-align: center;
}