<form novalidate autocomplete="off" (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <div fxLayout="column" fxLayoutAlign="center stretch">
        <mat-form-field class="example-form-field title">
            <mat-label class="title">Enter Community name</mat-label>
            <input matInput #input maxlength="50" type="text" name="title" #title="ngModel" [(ngModel)]="newCommunity.communityName" required [class.invalid]="title.invalid && title.touched">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter Community summary</mat-label>
            <textarea cdkTextareaAutosize matInput #input maxlength="500" type="text" name="description" #description="ngModel" [(ngModel)]="newCommunity.communitySummary" required [class.invalid]="description.invalid && description.touched"></textarea>
        </mat-form-field>


        <!-- TODO: 
    
        Add description to public unlisted restricted and private radio buttons
        Add tooltip when you hover over the radio buttons
    
    -->
        <div>
            <label>Community Type</label>
            <mat-radio-group class="radio-group" fxLayout="column" fxLayoutAlign="center begin" fxLayoutGap="12px" aria-label="Select an option" name="communityType" #communityType="ngModel" [(ngModel)]="newCommunity.communityTypeId" required [class.invalid]="communityType.invalid && communityType.touched">
                <mat-radio-button class="radio-button" *ngFor="let communityType of communityTypes" [value]="communityType.typeId">
                    {{communityType.typeName}}</mat-radio-button>
            </mat-radio-group>
        </div>


        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px">
            <button mat-raised-button color="primary" class="create-button" type="submit" [disabled]="taskForm.invalid">Create</button>
            <button mat-button class="button1" mat-dialog-close>Cancel</button>
        </div>
    </div>
</form>