<form novalidate autocomplete="off" (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <div>
        <mat-form-field class="example-form-field title">
            <mat-label class="title">Enter Community name</mat-label>
            <input matInput #input maxlength="50" type="text" name="title" #title="ngModel" [(ngModel)]="newCommunity.communityName" required [class.invalid]="title.invalid && title.touched">
        </mat-form-field>
        <mat-form-field class="example-form-field">
            <mat-label class="opis">Enter Community summary</mat-label>
            <textarea class="text-area" matInput #input maxlength="500" type="text" name="description" #description="ngModel" [(ngModel)]="newCommunity.communitySummary" required [class.invalid]="title.invalid && title.touched"></textarea>
        </mat-form-field>
    </div>
    <!-- <div class="item">
        <div class="att">Community Type: </div>
        <mat-form-field class="selected">
            <mat-label>Select a type</mat-label>
            <mat-select class="select" name="communityType" #priority="ngModel" [(ngModel)]="newCommunity.communityTypeId" required [class.invalid]="title.invalid && title.touched">
                <mat-option *ngFor="let communityType of communityTypes" [value]="communityType.typeId">
                    {{communityType.typeName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div> -->


    <!-- TODO: 
    
        Add description to public unlisted restricted and private radio buttons
        Add tooltip when you hover over the radio buttons
    
    -->
    <div>
        <mat-radio-group aria-label="Select an option" name="communityType" #priority="ngModel" [(ngModel)]="newCommunity.communityTypeId" required [class.invalid]="title.invalid && title.touched">
            <mat-radio-button class="radio-button" *ngFor="let communityType of communityTypes" [value]="communityType.typeId">
                {{communityType.typeName}}</mat-radio-button>
        </mat-radio-group>
    </div>


    <div class="buttons">
        <button mat-raised-button color="primary" class="create-button" type="submit" [disabled]="taskForm.invalid">Create</button>
        <button mat-raised-button color="primary" class="button1" (click)="closeContainer()">Cancel</button>
    </div>
</form>