<!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Reddit za sirotinju</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="addCommunity()">Create your own Community</button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
</mat-toolbar> -->


<mat-toolbar>
    <!-- NOTE: div below had fxHide.gt-xs -->
    <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
    <div><a routerLink="/">Emir<span class="custom-theme-primary-1">.</span>V</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutAlign="center center" fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="this.role == 'Admin'"><button mat-stroked-button color="accent" routerLink="/dashboard">DASHBOARD</button></li>
            <li *ngIf="isLoggedIn"><button mat-stroked-button color="primary" (click)="addCommunity()">CREATE COMMUNITY</button></li>
            <li *ngIf="!isLoggedIn"><button mat-stroked-button (click)="register()" color="primary">Create account</button></li>
            <li *ngIf="!isLoggedIn"><button mat-button (click)="login()">Login</button></li>
            <li *ngIf="isLoggedIn"><button mat-button (click)="logout()">Logout</button></li>
            <li *ngIf="isLoggedIn" class="img-hover">
                <img *ngIf="user?.imageUrl" class="avatar" routerLink="user/{{username}}" [src]="createImgPath(user.imageUrl)">
            </li>
            <!-- <li><a style="cursor: pointer" (click)="onLogout()">Logout</a></li> -->
            <!-- <li><button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>person</mat-icon>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button></li> -->
        </ul>
    </div>
</mat-toolbar>