<form novalidate autocomplete="off" (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <div fxLayout="column" fxLayoutAlign="center stretch">
        <h2>Create a post</h2>
        <mat-form-field class="example-form-field title">
            <mat-label class="title">Title</mat-label>
            <input matInput #input maxlength="255" type="text" name="title" #title="ngModel" [(ngModel)]="newPost.postTitle" required [class.invalid]="title.invalid && title.touched">
        </mat-form-field>
        <mat-form-field class="example-form-field">
            <mat-label class="opis">Content (optional)</mat-label>
            <textarea class="text-area" matInput #input maxlength="500" type="text" name="description" #description="ngModel" [(ngModel)]="newPost.postContent"></textarea>
        </mat-form-field>
        <mat-form-field class="example-form-field title" appearance="fill">
            <mat-label class="link">Link</mat-label>
            <input matInput #input type="text" name="link" #link="ngModel" value="https://material.angular.io/components/checkbox/examples" [(ngModel)]="newPost.link">
        </mat-form-field>
        <p>Post Image</p>
        <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>

        <div>
            <mat-checkbox name="isSpoiler" [(ngModel)]="newPost.isSpoiler">Spoiler</mat-checkbox>
        </div>


        <div class="buttons" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px">
            <button mat-raised-button color="primary" class="create-button" type="submit" [disabled]="taskForm.invalid">Create</button>
            <button mat-button class="button1" mat-dialog-close>Cancel</button>
        </div>
    </div>
</form>